[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "*"
serpy = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
migrate = "python manage.py migrate"
start = "python manage.py runserver"
makemigrations="python manage.py makemigrations"
